html {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Arsenal', sans-serif;
    color: #ffffff;
}

header {
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

body {
    background-color: #000000;
}

.main-container {
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 200px auto;
    place-items: center;
    width: 90%;
    margin: auto;
}

h1 {
    text-align: center;
    width: 65%;
    margin: auto;
}

p {
    padding-top: 30px;
}

.logo {
    width: 150px;
}

.button-box {
    width: 100%;
}

.socials {
    border-top: 1px solid white;
    padding-top: 30px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style-type: none;
    border: 1px solid #d91600;
    width: 100px;
    padding: 20px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

@media only screen and (min-width: 768px) {
        header {
            font-size: 50px;
        }

        .logo {
            width: 200px;
        }

        .main-container {
            grid-template-rows: 320px auto;
        }

        h1 {
            font-size: 35px;
        }

        p {
            font-size: 20px;
        }

        li {
            width: 250px;
            font-size: 20px;
        }
    }

@media only screen and (min-width: 1100px) {
        header {
            font-size: 75px;
        }

        .main-container {
            margin-top: 50px;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 2;
        }

        .logo {
            width: 500px;
        }

        .logo-box {
            grid-area: 1/1/3/2;
            border-right: 1px solid white;
            padding: 35px;
        }

        .content-box {
            padding: 65px 15px 0px 15px;
            grid-area: 1/2/2/3;
        }

        .button-box {
            grid-area: 2/2/3/3; 
        }

        li {
            width: 100px;
            background-color: #000000;
            font-size: 20px;
            margin: 0px;
            padding: 10px;
        }

        a:hover {
            color: #d91600;
        }

        .socials {
            width: 100%;
            height: 200px;
            padding-top: 0px;
            flex-direction: row;  
            justify-content: space-evenly;
            border-top: none;
            align-items: flex-start;
        }

        h1 {
            font-size: 45px;
        }
    }

    @media only screen and (min-width: 1400px) {
        .logo-box {
            padding: 100px;
        }
    }